<a href="https://colab.research.google.com/github/leandroguarato/data_science/blob/master/Manoel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [34]:
df  = pd.read_csv('https://raw.githubusercontent.com/manoelpajr/dataframes/master/DOLFUT_Diario1.csv', sep=';')

In [32]:
df.dtypes

Data           object
Abertura       object
Maximo         object
Minimo         object
Fechamento     object
Volume         object
Quantidade    float64
dtype: object

In [35]:
df.Abertura.str.replace('.', '')

0      5430,00
1      5457,98
2      5379,51
3      5380,01
4      5178,09
        ...
488    4230,47
489    4181,24
490    4184,99
491    4168,40
492    4178,57
Name: Abertura, Length: 493, dtype: object

In [36]:
df.Abertura = df.Abertura.str.replace('.', '')

In [37]:
df.Abertura.str.replace(',','.')

0      5430.00
1      5457.98
2      5379.51
3      5380.01
4      5178.09
        ...
488    4230.47
489    4181.24
490    4184.99
491    4168.40
492    4178.57
Name: Abertura, Length: 493, dtype: object

In [38]:
df.Abertura = df.Abertura.str.replace(',','.')

In [39]:
df.head()

         Data Abertura    Maximo  ... Fechamento             Volume Quantidade
0  30/06/2020  5430.00  5.513,50  ...   5.463,00  89.629.807.125,00    327.865
1  29/06/2020  5457.98  5.470,98  ...   5.407,00  73.502.699.375,00    270.445
2  26/06/2020  5379.51  5.491,47  ...   5.482,97  91.547.204.625,00    335.750
3  25/06/2020  5380.01  5.386,01  ...   5.354,52  92.693.603.500,00    347.475
4  24/06/2020  5178.09  5.353,02  ...   5.347,52  87.852.063.125,00    333.335

[5 rows x 7 columns]

In [40]:
df.Abertura.astype(float)

0      5430.00
1      5457.98
2      5379.51
3      5380.01
4      5178.09
        ...
488    4230.47
489    4181.24
490    4184.99
491    4168.40
492    4178.57
Name: Abertura, Length: 493, dtype: float64

In [42]:
df.Abertura = df.Abertura.astype(float)

In [43]:
df.dtypes

Data           object
Abertura      float64
Maximo         object
Minimo         object
Fechamento     object
Volume         object
Quantidade    float64
dtype: object